In [ ]:
%load_ext sql

In [ ]:
!pip install SQLAlchemy==1.4.47

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting SQLAlchemy==1.4.47
  Downloading SQLAlchemy-1.4.47-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 23.8 MB/s eta 0:00:00
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy==1.4.47) (2.0.2)
Installing collected packages: SQLAlchemy
  Attempting uninstall: SQLAlchemy
    Found existing installation: SQLAlchemy 2.0.10
    Uninstalling SQLAlchemy-2.0.10:
      Successfully uninstalled SQLAlchemy-2.0.10
Successfully installed SQLAlchemy-1.4.47

*ID와* PW와 호스트이름을 자신의 것으로 변경. 아래는 예로 동작하지 않음

In [ ]:
%sql postgresql://ID:PW@호스트이름:5439/dev

### Redshift Schema 설정

In [ ]:
%%sql

CREATE SCHEMA raw_data;
CREATE SCHEMA analytics;
CREATE SCHEMA adhoc;
CREATE SCHEMA pii;

 * postgresql://admin:***@default.538095062817.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.
Done.
Done.

[]

In [ ]:
%%sql

select * from pg_namespace;

 * postgresql://admin:***@default.538095062817.us-west-2.redshift-serverless.amazonaws.com:5439/dev
12 rows affected.

[('pg_toast', 1, None),
 ('pg_internal', 1, None),
 ('catalog_history', 1, None),
 ('pg_automv', 1, None),
 ('pg_temp_1', 1, None),
 ('pg_catalog', 1, '{rdsdb=UC/rdsdb,=U/rdsdb}'),
 ('public', 1, '{rdsdb=UC/rdsdb,=UC/rdsdb}'),
 ('information_schema', 1, '{rdsdb=UC/rdsdb,=U/rdsdb}'),
 ('raw_data', 100, None),
 ('analytics', 100, None),
 ('adhoc', 100, None),
 ('pii', 100, None)]

### Redshift User 설정

In [ ]:
%%sql

CREATE USER hyemin PASSWORD '*****';

In [ ]:
%%sql

select * from pg_user;

 * postgresql://admin:***@default.538095062817.us-west-2.redshift-serverless.amazonaws.com:5439/dev
4 rows affected.

[('rdsdb', 1, True, True, True, '********', 'infinity', None),
 ('IAM:RootIdentity', 101, True, True, False, '********', None, None),
 ('admin', 100, True, True, False, '********', 'infinity', None),
 ('hyemin', 102, False, False, False, '********', None, None)]

### Redshift Group 설정

In [ ]:
%%sql

CREATE GROUP analytics_users;
CREATE GROUP pii_users;

 * postgresql://admin:***@default.538095062817.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

In [ ]:
%%sql

CREATE GROUP analytics_authors;
ALTER GROUP analytics_authors ADD USER hyemin;

 * postgresql://admin:***@default.538095062817.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

In [ ]:
%%sql

ALTER GROUP analytics_users ADD USER hyemin;
ALTER GROUP pii_users ADD USER hyemin;

 * postgresql://admin:***@default.538095062817.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

### Redshift Role 설정

In [ ]:
%%sql

CREATE ROLE staff;
CREATE ROLE manager;
CREATE ROLE external;

 * postgresql://admin:***@default.538095062817.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.
Done.

[]

In [ ]:
%%sql

GRANT ROLE staff TO hyemin; 
GRANT ROLE staff TO ROLE manager;

 * postgresql://admin:***@default.538095062817.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

In [ ]:
%%sql

 select * from SVV_ROLES;

 * postgresql://admin:***@default.538095062817.us-west-2.redshift-serverless.amazonaws.com:5439/dev
8 rows affected.

[(105245, 'sys:operator', 'rdsdb', None),
 (105246, 'sys:monitor', 'rdsdb', None),
 (105247, 'sys:dba', 'rdsdb', None),
 (105248, 'sys:secadmin', 'rdsdb', None),
 (105249, 'sys:superuser', 'rdsdb', None),
 (110240, 'staff', 'admin', None),
 (110241, 'manager', 'admin', None),
 (110242, 'external', 'admin', None)]

### COPY 명령으로 테이블 만들기

In [ ]:
%%sql

CREATE TABLE raw_data.user_session_channel (
   userid integer ,
   sessionid varchar(32) primary key,
   channel varchar(32)
);

 * postgresql://admin:***@default.538095062817.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [ ]:
%%sql

-- 아래 쿼리에서 aws_iam_role의 값은 각자 Redshift cluster에 지정한 S3 읽기 권한 ROLE의 ARN을 지정
COPY raw_data.user_session_channel
FROM 's3:/(bucket명)/test_data/user_session_channel.csv'
credentials 'aws_iam_role=(생성한 규칙의 arn)'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

 * postgresql://admin:***@default.538095062817.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [ ]:
%%sql

SELECT * FROM raw_data.user_session_channel LIMIT 10;

 * postgresql://admin:***@default.538095062817.us-west-2.redshift-serverless.amazonaws.com:5439/dev
10 rows affected.

[(265, 'b59442085644532ef03417a3e5a76437', 'Organic'),
 (998, 'a6e4f250fb5c56aaf215a236c64e5b0a', 'Naver'),
 (187, '2c8c3a57383c63caef6724343eb62257', 'Facebook'),
 (887, 'c73071b4520a9a82990741a84a2144eb', 'Facebook'),
 (682, '77b917da760ab9aeca583fd0bb0e1c67', 'Naver'),
 (230, '28f248e9279ac845995c4e9f8af35c2b', 'Youtube'),
 (789, '3db54f5573cd617a0112d35dd1e6b1ef', 'Youtube'),
 (45, '7d38b1e9bd793d3f45e0e212a729a93c', 'Facebook'),
 (987, 'f9d396c7f5a391a9251c5fa6d49aa873', 'Youtube'),
 (199, 'e3bc4e7f243ebc05d66a0568a3331966', 'Google')]

In [ ]:
%%sql

CREATE TABLE raw_data.session_timestamp (
   sessionid varchar(32) primary key,
   ts timestamp
);

 * postgresql://admin:***@default.538095062817.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [ ]:
%%sql

-- 아래 쿼리에서 aws_iam_role의 값은 각자 Redshift cluster에 지정한 S3 읽기 권한 ROLE의 ARN을 지정
COPY raw_data.session_timestamp
FROM 's3:/(bucket명)/test_data/user_session_channel.csv'
credentials 'aws_iam_role=(생성한 규칙의 arn)'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

 * postgresql://admin:***@default.538095062817.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [ ]:
%%sql

SELECT * FROM raw_data.session_timestamp LIMIT 10;

 * postgresql://admin:***@default.538095062817.us-west-2.redshift-serverless.amazonaws.com:5439/dev
10 rows affected.

[('faf02b2358de8933f480a146f4d2d98e', datetime.datetime(2019, 5, 3, 18, 24, 42, 890000)),
 ('52bdba949576e6bcec5682a4993bfb58', datetime.datetime(2019, 5, 5, 14, 31, 13, 537000)),
 ('bf1b2f4b901c21a1d8645018ea9aeb05', datetime.datetime(2019, 5, 7, 0, 29, 44, 7000)),
 ('4aadd661908b181d059a117f02fbc9ec', datetime.datetime(2019, 5, 11, 4, 2, 29, 877000)),
 ('89b9e0a6f6d1505fe13dea0f18a2dcfa', datetime.datetime(2019, 5, 17, 16, 17, 7, 383000)),
 ('f5f96025b4aa949ad6d1b20e207c66c9', datetime.datetime(2019, 5, 20, 19, 17, 5, 270000)),
 ('d3a03b46250a3b28b490109cef354b3f', datetime.datetime(2019, 5, 21, 18, 3, 35, 130000)),
 ('689041c2baed0f6d91050495d632d6e0', datetime.datetime(2019, 5, 25, 16, 24, 57, 653000)),
 ('5d44a2b0d85aa1a4dd3f218be6422c66', datetime.datetime(2019, 5, 5, 14, 50, 20, 487000)),
 ('dffbb6efd376d8dbb22cdf491e481edc', datetime.datetime(2019, 5, 6, 16, 6, 43))]

In [ ]:
%%sql

CREATE TABLE raw_data.session_transaction (
    sessionid varchar(32) primary key,
    refunded boolean,
    amount int
)

 * postgresql://admin:***@default.538095062817.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [ ]:
%%sql


COPY raw_data.session_transaction
FROM 's3:/(bucket명)/test_data/user_session_channel.csv'
credentials 'aws_iam_role=(생성한 규칙의 arn)'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

 * postgresql://admin:***@default.538095062817.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [ ]:
%%sql

SELECT * FROM raw_data.session_transaction LIMIT 10;

 * postgresql://admin:***@default.538095062817.us-west-2.redshift-serverless.amazonaws.com:5439/dev
10 rows affected.

[('00029153d12ae1c9abe59c17ff2e0895', False, 85),
 ('008909bd27b680698322c750c400e4b1', False, 13),
 ('0107acb41ef20db2289d261d4e34fd38', False, 16),
 ('018544a2c48077d2cc3ce3278ab1e805', False, 39),
 ('020c38173caff02033564200e0288aa9', False, 61),
 ('029591145fad252b28d844d823097400', False, 13),
 ('03190309cbcd7161a426abd4782bdcd2', False, 75),
 ('03a13aa6921aed989b31d92dc73b391a', False, 129),
 ('04215c1ad3aaff3ed175446d2ea3c0f2', False, 99),
 ('049b8c570e6cc662b4a3d7e3c86e236f', False, 24)]

# Day 3

### 사용자 그룹 권한 설정하기

#### analytics_authors

In [ ]:
%%sql

GRANT ALL ON SCHEMA analytics TO GROUP analytics_authors;
GRANT ALL ON ALL TABLES IN SCHEMA analytics TO GROUP analytics_authors;

GRANT ALL ON SCHEMA adhoc to GROUP analytics_authors;
GRANT ALL ON ALL TABLES IN SCHEMA adhoc TO GROUP analytics_authors;

GRANT USAGE ON SCHEMA raw_data TO GROUP analytics_authors;
GRANT SELECT ON ALL TABLES IN SCHEMA raw_data TO GROUP analytics_authors;

 * postgresql://admin:***@default.538095062817.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.
Done.
Done.
Done.
Done.

[]

#### analytics_users

In [ ]:
%%sql

GRANT USAGE ON SCHEMA analytics TO GROUP analytics_users;
GRANT SELECT ON ALL TABLES IN SCHEMA analytics TO GROUP analytics_users;

GRANT ALL ON SCHEMA adhoc to GROUP analytics_users;
GRANT ALL ON ALL TABLES IN SCHEMA adhoc TO GROUP analytics_users;

GRANT USAGE ON SCHEMA raw_data TO GROUP analytics_users;
GRANT SELECT ON ALL TABLES IN SCHEMA raw_data TO GROUP analytics_users;

 * postgresql://admin:***@default.538095062817.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.
Done.
Done.
Done.
Done.

[]

#### pii_users

In [ ]:
%%sql

GRANT USAGE ON SCHEMA pii TO GROUP pii_users;
GRANT SELECT ON ALL TABLES IN SCHEMA pii TO GROUP pii_users;

 * postgresql://admin:***@default.538095062817.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

### Redshift Spectrum 테스트

In [ ]:
%%sql

-- AWSGlueConsoleFullAccess
CREATE EXTERNAL SCHEMA external_schema
from data catalog 
database 'myspectrum_db' 
iam_role 'arn:aws:iam::538095062817:role/redshift.read.s3'
create external database if not exists;

 * postgresql://admin:***@default.538095062817.us-west-2.redshift-serverless.amazonaws.com:5439/dev
(psycopg2.errors.DuplicateSchema) Schema "external_schema" already exists

[SQL: -- AWSGlueConsoleFullAccess
CREATE EXTERNAL SCHEMA external_schema
from data catalog
database 'myspectrum_db'
iam_role 'arn:aws:iam::538095062817:role/redshift.read.s3'
create external database if not exists;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [ ]:
%%sql

CREATE TABLE raw_data.user_property AS
SELECT
  userid, 
  CASE WHEN cast (random() * 2 as int) = 0 THEN 'male' ELSE 'female' END gender,
  (CAST(random() * 50 as int)+18) age
FROM (
  SELECT DISTINCT userid
  FROM raw_data.user_session_channel
);

 * postgresql://admin:***@default.538095062817.us-west-2.redshift-serverless.amazonaws.com:5439/dev
(psycopg2.errors.DuplicateTable) relation "user_property" already exists

[SQL: CREATE TABLE raw_data.user_property AS
SELECT
  userid,
  CASE WHEN cast (random() * 2 as int) = 0 THEN 'male' ELSE 'female' END gender,
  (CAST(random() * 50 as int)+18) age
FROM (
  SELECT DISTINCT userid
  FROM raw_data.user_session_channel
);]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [ ]:
%%sql

CREATE EXTERNAL TABLE external_schema.user_session_channel(
   userid integer ,
   sessionid varchar(32),
   channel varchar(32)
)
row format delimited
fields terminated by ','
stored as textfile
location 's3://(버킷명)/usc/';

 * postgresql://admin:***@default.538095062817.us-west-2.redshift-serverless.amazonaws.com:5439/dev
(psycopg2.errors.ActiveSqlTransaction) CREATE EXTERNAL TABLE cannot run inside a transaction block

[SQL: CREATE EXTERNAL TABLE external_schema.user_session_channel(
   userid integer ,
   sessionid varchar(32),
   channel varchar(32)
)
row format delimited
fields terminated by ','
stored as textfile
location 's3://hyemin-test-bucket/usc/';]
(Background on this error at: https://sqlalche.me/e/14/2j85)

In [ ]:
%%sql

SELECT gender, COUNT(1)
FROM external_schema.user_session_channel usc
JOIN raw_data.user_property up ON usc.userid = up.userid
GROUP BY 1;

In [ ]:
%%sql

vacuum full

 * postgresql://admin:***@default.538095062817.us-west-2.redshift-serverless.amazonaws.com:5439/dev
(psycopg2.errors.ActiveSqlTransaction) VACUUM cannot run inside a transaction block

[SQL: vacuum full]
(Background on this error at: https://sqlalche.me/e/14/2j85)